///FUNCIONES
@mixin flexBox($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin transitions($property) {
  transition-duration: 0.4s;
  transition-property: $property;
}

///STYLES
body {
  margin: 0;
  background-image: url("./img/fondoClaroPrincipal.png");
  background-size: contain;
  @include transitions(background-image);

  #app {
    @include flexBox(column);
    width: 100%;
    height: 100vh;

    .container {
      width: 25rem;
      height: 35rem;
      margin: auto;
      padding: 0.7rem;
      @include flexBox(column);
      border: 0.2rem black solid;
      border-radius: 1.5rem;
      background-color: rgba(255, 255, 255, 0.589);
      @include transitions(border-color background-color);

      i {
        color: black;
        align-self: flex-end;
        font-size: 1.6rem;
        cursor: pointer;
        @include transitions(color);
      }

      .titulo {
        color: black;
        text-align: center;
        margin: 0;
        font-size: 2.5rem;
        padding: 1rem 0;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        font-weight: 100;
        @include transitions(color);
      }

      #resultado {
        background-color: white;
        color: black;
        border-color: black;
        border-radius: 1rem;
        padding: 0.5rem;
        text-align: right;
        height: 2.75rem;
        font-size: 2rem;
        @include transitions(background-color color border-color);
      }

      .panelBotones {
        @include flexBox(column);
        gap: 1rem 0.2rem;
        padding-top: 1rem;

        .botonBorrado {
          @include flexBox(row);
          justify-content: space-between;
          button {
            color: black;
            width: 11rem;
            height: 4rem;
            font-size: 2.3rem;
            border-radius: 1rem;
            border-width: 0;
            background-color: rgb(255, 92, 92);
            @include transitions(background-color color);
          }
          button:hover {
            background-color: rgb(255, 122, 122);
            cursor: pointer;
          }
          button:active {
            background-color: rgb(240, 68, 68);
          }
          .darkButtonDel {
            background-color: rgb(30 30 30);
            color: rgb(255, 0, 0);
            @include transitions(background-color color);
          }
          .darkButtonDel:hover {
            background-color: rgb(49, 49, 49);
          }
          .darkButtonDel:active {
            background-color: black;
          }

        }
      }

      .numerosyFunciones {
        @include flexBox(row);
        flex-wrap: wrap;
        gap: 1rem 1rem;

        button {
          width: 5.5rem;
          height: 4rem;
          font-size: 2.3rem;
          background-color: silver;
          color: black;
          border-radius: 1rem;
          border-width: 0;
          @include transitions(background-color color);
        }
        button:hover {
          background-color: rgb(219, 219, 219);
          cursor: pointer;
        }
        button:active {
          background-color: rgb(158, 158, 158);
        }
        .darkNumeros {
          color: silver;
          background-color: rgb(30 30 30);
          @include transitions(background-color color);
        }
        .darkNumeros:hover {
          background-color: rgb(49, 49, 49);
        }
        .darkNumeros:active {
          background-color: black;
        }

        .igual {
          color: black;
          background-color: rgb(90, 219, 58);
        }
        .igual:hover {
          background-color: rgb(122, 231, 95);
          cursor: pointer;
        }
        .igual:active {
          background-color: rgb(51, 211, 11);
        }

        .darkIgual {
          color: rgb(47, 235, 0);
          background-color: rgb(30 30 30);
          @include transitions(color background-color);
        }
        .darkIgual:hover {
          background-color: rgb(49, 49, 49);
        }
        .darkIgual:active {
          background-color: black;
        }

        .operador {
          color: black;
          background-color: rgb(39, 169, 255);
          @include transitions(background-color color);
        }
        .operador:hover {
          background-color: rgb(97, 190, 252);
          cursor: pointer;
        }
        .operador:active {
          background-color: rgb(0, 136, 226);
        }

        .darkOperador {
          color: rgb(0, 153, 255);
          background-color: rgb(30 30 30);
          @include transitions(color background-color);
        }
        .darkOperador:hover {
          background-color: rgb(49, 49, 49);
        }
        .darkOperador:active {
          background-color: black;
        }
      }
    }
  }
}
